#navbar {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #b19cd9
}

#container {
    margin-top: 100px;
}

.inline h1 {
    display: flex;
}

.navGrid {
    display: flex;
    align-items: right;
    justify-content: space-between;
    margin-right: 20px;
}

.navGrid li{
    margin-right: 20px;
}